body {
    margin: 0;
    font-family: "Roboto", 'Courier New', Courier, monospace;
}

.layout {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 1080px;
    margin: 0;
    padding: 0;
    gap: 0;
}

.sidebar {
    background-color: rgba(0, 132, 176, 0.826);
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 3fr 4fr;
}

.sec1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px repeat(6, 50px);
    grid-auto-rows: 50px;
    align-items: center;
    color: white;
    column-gap: 10px;
    padding: 0px 25px;
}

.sec1 > *:nth-child(2n-1),
.sec2 > *:nth-child(2n-1) {
    justify-self: center;
    align-self: center;
}

.sec2 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    align-items: center;
    color: white;
    column-gap: 10px;
    padding: 0px 25px;
}

.header {
    box-shadow: 0 20px 10px -20px gray;
    display: grid;
    grid-template:
        'search profile' 1fr
        'hello action' 1fr;
    grid-template-columns: 1fr 1fr;
}

.a,
.b,
.c,
.d {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 40px;
}

.a {
    grid-area: search;
}

.a input[type="text"] {
    border-radius: 10px;
    border: 0px solid grey;
    background: lightgray;
    flex: 1;
    height: 32px;
}

.a input[type="text"]:focus {
    border: 0px;
}

.b {
    grid-area: profile;
    justify-content: center;
    gap: 40px;
}

.b > h2 {
    font-family: monospace;
    font-size: 22px;
}

.usericon {
    background: lightgray;
    padding: 10px;
    border-radius: 50%;
}

.c {
    color: black;
    grid-area: hello;
    font-family: monospace;
}

.c .usericon{
    padding: 20px;
    align-self: center;
}

.c > div {
    display: flex;
    flex-direction: column;
}

.c > div > h2 {
    margin: 5px 0px;
}

.d {
    display: flex;
    justify-content: center;
}

.d button {
    background-color: rgba(0, 132, 176, 0.826);
    border: none;
    font-size: 18px;
    color: white;
    padding: 10px;
    font-family: monospace;
    font-weight: bold;
    border-radius: 25px;
    width: 100px;
}

.maincontent {
    background-color: lightgray;
}